 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Greetings, my name is Jason and welcome to my portfolio, I hope you enjoy it. I have recently completed a Bachelor of Computer Science at Concordia University located in Montreal, Quebec, Canada. <br />
                    My interests lie primarily in the field of Game Development but also extend to Software Development as well as Music Production. My drive is to work in the Game industry on the games that I adore.</p>
                        <h3>{{ site.footer.social }}</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    </section>
