 <!-- About Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Different elements that I have experience with include but are not limited to: <br />
                        C#, C++, Unity3D, Java, SQL, PHP, HTML, GIT, and more. <br /><br />
                    Currently I am working towards expanding my skill set to include Unreal Engine and to further improve my C++ skills </p>
                </div>
            </div>
        </div>
    </section>